@{
    ViewData["HomeTitle"] = "Brian's HomePage";
    var imagePath = "images/driver_mystery.png";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["HomeTitle"]</h1>
    <p>Learn about Brian's Life</a></p>
    <img src="@imagePath" alt="image" width="150" height="200"/>
</div>
